* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

a, #nav{
  text-decoration: none;
  color: gray;
  margin: 5px;
  position: relative;
  display: block;
}

a:hover {
  color: pink;
}

.col a {
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

#homepage .logo {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 22%;
  opacity: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  left: 0;
  right: 0;
  width: 100%;
}

#homepage .links {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}

#homepage .links a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.55em;
  text-indent: 10px;
  font-size: 16px;
  font-family: 'playfair display';
  padding: 55px 60px;
  background-size: cover;
  transition: all ease-in-out .5s;

  height: auto;
  background-repeat: no-repeat;
}

#homepage .links a:hover {
  transform: scale(1.05);
  text-decoration: line-through;
}

.int .flex-col {
  display: none;
}

.colapse-nav img {
  max-width: 100%;
  height: auto;
}

.show {
  display: block;
}

.col {
  flex: 1;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.portfolio .col:hover {
  opacity: .5;
}

.portfolio section.container:nth-child(2) {
  max-width: 100%;
  margin: 0 auto 2.5%;
  max-height: 600px;
  overflow: hidden;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 65%;
}

.portfolio section.container:nth-child(2) .col:hover {
  opacity: 1;
}

.txt-overlay h2 {
  letter-spacing: .2em;
  text-transform: uppercase;
  font-family: helvetica;
  font-weight: 100;
  color: #ffc0cb;
}

.txt-overlay {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 6px #000;
  max-width: 90%;
}

.col-home {
  flex: 1;
  padding: 10px;
  margin: 60px auto;
}

.container {
  display: flex;
  margin: 0 auto;
}

#email {
  width: 15px;
  height: 15px;
}

footer {
  height: 100px;
  background-color: rgba(204,204,204,.5);
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 999;
}

#footer-container {
  display: flex;
}

#footer-content {
  flex: 1;
  padding: 35px 0 0 0;
  margin-left: 55px;
  text-align: left;
}

.footer-item {
  padding-right: 10px;
  color: gray;
}

.footer-item img {
  height: 18px;
  width: 18px;
  margin: -3px;
}

h1 {
  float: left;
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
  font-size: 30px;
  padding: 5px 5px 5px 50px;
}

h2 {
  margin: 5px 0;
  font-size: 30px;
}

#head {
  color: pink;
  text-decoration: overline;
  margin-bottom: 25px;
}

h5 {
  margin: 5px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

#header-img {
  width: 100%;
  height: auto;
  margin: 170px 0px -10px auto;
  background-size: contain;
}

#header-img-pens {
  width: 100%;
  height: auto;
  margin: 175px auto 0;
}

.home {
  justify-content: center;
}

input {
  width: 28%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

li {
  display: inline;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
}

.name {
  margin-top: 50px;
  height: 75px;
  padding-right: 200px;
}

#newsletter {
  height: 150px;
  background-color: rgba(204,204,204,.5);
  font-size: 25px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5em;
}
.col-home p {
    font-size: 20px;
    line-height: 1.5em;
}
.post-comment {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.post-image {
  width: 100%;
  margin: 0;
}

section {
  color: gray;
  font-family: 'Playfair Display', serif;
  margin: 50px auto;
  width: 90%;
}

#social {
  display: flex;
  align-items: center;
  text-align: right;
}

ul#nav {
  font-family: 'Playfair Display', serif;
  text-align: right;
  text-decoration: none;
  letter-spacing: 3px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.flex-col {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-col img {
  max-width: 100%;
  height: auto;
}

#int {
  margin: 5% auto 0;
}

#int h1 {
  letter-spacing: .3em;
  font-family: helvetica;
  color: #000;
  line-height: 5em;
  float: none;
  text-align: center;
  padding: 0;
}

.bling {
  display: block;
  background: transparent;
  max-width: 100%;
  height: auto;
  width: 14%;
  position: absolute;
  top: 72%;
  right: 5.5%;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite!important;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.pn footer#footer-container {
    justify-content: flex-end;
}

/*---------------- MEDIA QUERY --------------------*/
@media screen and (max-width: 768px) {

  #int {
    margin: 25% auto 0;
  }

  #int h1 {
    font-size: 4vw;
  }

  #homepage .links {
    max-width: 100%;
    overflow: hidden;
  }

  #homepage .links a {
    text-decoration: none;
    color: #000;
    letter-spacing: 0.55em;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'playfair display';
    background-size: cover;
    transition: all ease-in-out .5s;
    height: 15vw;
    margin: 0 auto;
    width: 100vw;
    background-repeat: no-repeat;
    line-height: 5vw;
    padding: 5%;
    background-position: center;
  }

  .bling {
    top: 100vw;
  }

  h1 {
    padding: 5px 0 0 50px;
  }

  .container {
    display: block;
  }

  ul#nav {
    text-align: center;
    text-decoration: none;
    margin: 5% auto;
    justify-content: flex-end;
  }


  li, #nav {
    margin: 4px;
  }

  a, #nav{
    margin: -10px auto;
    padding-right: 0px;
  }

  footer {
    height: 100px;
    background-color: rgba(204,204,204,.5);
    width: 100%;
    margin: 0 auto;
  }

  #footer-container {
    align-items: center;
    justify-content: space-around;
  }

  #footer-content {
    flex: inherit;
    padding: 0;
    margin: initial;
  }

  .footer-item {
    padding: 0px 0px 0px 0px;
    color: gray;
  }

  .footer-item img {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }

  #header-img {
    width: 100%;
    height: auto;
    margin: 0px 0px -75px auto;
    background-size: contain;
  }

  .col {
    flex: 1;
    padding: 0;
    margin: 10% auto;
    height: 100%;
  }

  .name {
    margin: 10% auto 0 auto;
    padding: 0;
    height: auto;
    max-width: 100%;
  }
  .col-home {
    padding: 0;
    margin: 0;
    margin-bottom: 5%;
  }

  h2 {
    font-size: 22px;
  }

  p, .col-home p {
    font-size: 14px;
  }

  #head {
    margin: 7% auto 5%;
  }

  #header-img-pens {
    margin: 0 auto;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }
  .portfolio section.container:nth-child(2) {
    overflow: initial;
    margin: 0 auto -3%;
    background-size: cover;
    height: 70vw;
    background-repeat: no-repeat;
  }

}
